<!-- 

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <div class="one"> 
          <div class="hello">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <h4 id="head">EventsApp</h4>
            <input type="text" class="form-control form-control-lg " id="userid" formControlName="uid"   name="uid" placeholder="enter user id"><br>
            <input type="password" class="form-control form-control-lg" id="pwd" formControlName="pswd" name="password" placeholder="enter password"><br>
            <button type="submit" id="new" class="btn btn-success"  >Log In</button><br>
            <a href="#" id="ok">Forgotten password?
            </a><br>
            <div class="moon"></div>
            <button id="six" (click)="register()"><h6><b>Create New Account</b></h6></button><br>
            </form>
         </div>
         </div>
        </div>
        <div class="col-4"></div>
    </div>
  </div>
   -->
   <div class="todo-container">
    <form class="input-section"[formGroup]="loginForm" (ngSubmit)="login()" >
      <h1>EventsApp</h1>
    
         <input type="text" name="uid" placeholder="Userid" formControlName="uid"><br><br>
         <input type="password" name="pswd" placeholder="Password" formControlName="pswd"><br><br>
        <button class="addto" type="submit">Login</button><br><br>
        <a href="#" id="ok">Forgotten password?</a><br>

        <div class="moon"></div><br>
        <button class="addto" (click)="register()">Create New Account</button><br><br>
        
    </form>

